<%- include('../cabecera.ejs',) %>
<div class="container">

  <h1>Administration</h1>

<div>
  <form action="yoursubject/"
  method="GET">
  <div class="center">
    <br></br>
    <button type="submit" class="btn btn-success " style='width:250px; height:250px'>
       <h2> Student</h2>
    </button>
 <br></br>
  </div>
  </form>
  <form action="createclass/"
  method="GET">
  <button type="submit" class="btn btn-primary" style='width:250px; height:250px'>
    <h2>Teacher </h2>
</button>
  </form>
  
</div>

</div>
<%- include('../pie.ejs',) %>