<%- include('../../cabecera.ejs',) %>
<div class="container">
    
    <h1>Assingment</h1>

    <a href="/assingment/create">
        <button type="button"
                class="btn btn-primary">
            Create Assingment
        </button>
    </a>
    
</div>
<%- include('../../pie.ejs',) %>

