<%- include('../../shared/header',) %>
<div class="container">


    <h1>Subjects</h1>

    <a href="/city/route/create-city">
        <button type="button"
                class="btn btn-primary">
            Add Subject
        </button>
    </a>
    <%- include('../components/show-table',
    )%>   
</div>
<%- include('../../shared/foot-page',) %>

