<%- include('../../cabecera.ejs',) %>
<div class="container">


  <div class="alert alert-danger" role="alert">
  </div>
  <!-- CONDICION ? TRUE : FALSE -->

  <form action="/class" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" name="street" placeholder="Av. Maldonado">
      </div>
      <div class="form-group col-md-6">
        <label for="teacher">Teacher</label>
        <input type="text" class="form-control" id="teacher" name="teacher" placeholder="Julio">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="subjectID">Subject</label>
        <input type="text" class="form-control" id="subjectID" placeholder="Physics" name="subject">
      </div>
      <div class="form-group col-md-6">
        <label for="scheduleID">Schedule</label>
        <input type="text" class="form-control" id="scheduleID" name="Schedule" placeholder="7:00 - 8:00">
      </div>
    </div>

    <button type="submit" class="btn btn-success ">
      
    </button>
    <button type="reset" class="btn btn-secondary">
      Clean Form
    </button>
  </form>
</div>

<%- include('../../pie.ejs',) %>