<table class="table">
    <!-- table -->
    <thead>
        <!-- thead -->
        <tr>
            <!-- table row -->
            <th scope="col">
                <!-- table header -->
                ID
            </th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Sector Manager</th>
        </tr>
    </thead>
    <!---->
  
</table>