body {
    background-color: #e9ecef;
}

a {
    color: black;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-height: 275px;
}