<%- include('../../shared/header',) %>
<div class="container">

  <h1>Administration</h1>


  <form action="/assingment?sms=assingment" method="Post">
    <div class="center">
      <br></br>
      <button type="submit" class="btn btn-success " style='width:250px; height:250px'>
        <h2> Your assingment</h2>
      </button>
    </div>
  </form>
  <form action="/assingment?sms=classes" method="Post">
    <div class="center"></div>
    <button type="submit" class="btn btn-primary" style='width:250px; height:250px'>
      <h2>Your classes</h2>
    </button>
</div>
</form>

</div>


<%- include('../../shared/foot-page',) %>