<%- include('../../shared/header',) %>
<div class="container">

  <h1>Administration</h1>


  <form action=""
  method="POST">
  <div class="center">
    <br></br>
    <button type="submit" class="btn btn-success " style='width:250px; height:250px'>
       <h2> Your subjects</h2>
    </button>
    <button type="submit" class="btn btn-primary" style='width:250px; height:250px'>
        <h2>Your classes</h2>
    </button>
  </div>
  </form>
</div>


<%- include('../../shared/foot-page',) %>