<%- include ('./cabecera',
    datos.session
)%>

<link rel="stylesheet" href="/public/styles/permiso.css">

<div class="jumbotron big-banner">
    <h6>No cuentas con permiso para acceder a este módulo</h6>
</div>


<%- include ('./pie') %>