<%- include ('./cabecera',
    datos.session
)%>

<link rel="stylesheet" href="/public/styles/exito.css">

<div class="jumbotron big-banner">
    <h6>Operación realizada con éxito</h6>
</div>

<%- include ('./pie') %>